{% extends "registration/base.html" %}
{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block body %}
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
        <div class="row justify-content-center w-100">
            <div class="col-md-6">
                <div class="card shadow-lg p-4 mt-5">
                    <h2 class="text-center mb-4">Password Reset Sent</h2>
                    <p class="text-center text-muted mb-4">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}